multimodal_hred_text_task/params_test_for_demo*
multimodal_hred_text_task/params_test_for_demo_text*
multimodal_hred_text_task/params_test.py*
multimodal_hred_text_task/params_voc.py*
multimodal_hred_text_task/dialogue_splits_contextsize2_copy
multimodal_hred_text_task/dialogue_splits_contextsize2_v2
multimodal_hred_image_task/dialogue_splits_contextsize2_v2
multimodal_hred_image_task/dialogue_splits_contextsize2_copy
multimodal_hred_text_task/test_model_task1_for_demo.py*
multimodal_hred_text_task/remove_stopwords.py
multimodal_hred_text_task/calculate_recall.py
multimodal_hred_image_task/calculate_recall.py
multimodal_hred_image_task/*.pyc
multimodal_hred_text_task/*.pyc
multimodal_hred_image_task/get_image_embedding.*
multimodal_hred_image_task/params.py*
multimodal_hred_image_task/params_test.py*
multimodal_hred_text_task/params.py*
multimodal_hred_text_task/params_test.py*
